.displayContainer{
    display: flex;
    column-gap: 14px;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 7px;
    width: fit-content;
    border-radius: 8px;
    
}
.navbarContainer{
    display: flex;
    justify-content: space-between;
    padding: 1% 2%;
}
.popUpContainer>div{
    display: flex;
    padding: 5px;
    gap: 60px;
    
}
.popUpContainer{
    font-size: 18px;
    color: rgb(179, 173, 173);
}
select{
    padding: 5px;
    font-size:16px ;
    width: 120px;
    border-color: rgb(179, 173, 173);
    border-radius: 8px;
    margin-left: 110px;
    outline: none;
    color: rgb(80, 77, 77);
    
}
.upAndDownIcon{
    font-size: 10px;
}
