.ticketsContainer{
   display: grid;
  grid-template-columns: repeat(5,1fr);
 gap: 20px;
 padding: 20px;
 
}
.userIdContainer{
  display: flex;
  column-gap: 10px;
}
.ticketNavRightContainer{
  display: flex;
  column-gap: 10px;
}
.ticketNavContainer{
  display: flex;
  justify-content: space-between;
}
.ticketNavLeftContainer{
  display: flex;
  column-gap: 10px;
}
.darkBackground {
  background-color: #010409;
  color: white; /* Text color */
  
}

.lightBackground {
  background-color: rgb(166, 159, 159);
  color: black; /* Text color */
}

